.card{
    width: 15vw;
    aspect-ratio: 2/3;
    background: linear-gradient(135deg, var(--secondary), var(--accent));
    transition: all 1s ease;
    transform-style: preserve-3d;
    border-radius: 13px;
}

.card-container {
    width: 15vw;
    aspect-ratio: 2/3;
}

.card-container:hover .card{
    box-shadow: 0px 0px 20px var(--primary);
    transform: rotateY(180deg) scale(1.2);
}

.cards {
width: 90%;
height: max-content;
display: flex;
flex-direction: row;
justify-content: space-around;
}

/* card side config */

.card-front{
    position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

.card-back{
    position: relative;
  width: 100%;
  height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgba(240, 240, 240, 0.9);
}


/* photo stuff for cards */

.card-img1 {
    background-image: url(./worker-photos/worker1.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
}

.card-img2 {
    background-image: url(./worker-photos/worker2.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
}

.card-img3 {
    background-image: url(./worker-photos/worker3.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
}


.card-img1-back {
    background-image: url(./worker-photos/worker1.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
    filter: blur(1.5px);
}

.card-img2-back {
    background-image: url(./worker-photos/worker2.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
    filter: blur(1.5px);
}

.card-img3-back {
    background-image: url(./worker-photos/worker3.jpg);
    background-size: cover; /* This will make the image fill the card */
    background-position: center; /* This will center the image in the card */
    width: 100%; /* Set the width and height according to your needs */
    height: 100%;
    border-radius: 13px;
    filter: blur(1.5px);
}

.name{
    font-size: 1em;
    color: var(--text);
    margin-left: 3px;
}

.position{
    font-size: 0.5em;
    color: var(--text);
    margin-left: 6px;
}

.testomonial {
    position: absolute;
    font-size: 0.35em;
    z-index: 200;
    color: var(--text);
    margin-left: 5px;
    margin-right: 2px;
}

.worker-description {
    position: absolute;
    top: 0%; 
    left: 0%;
    width: 100%;
    height: 100%; 
    z-index: 1;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 13px;
}

